body {
	background: #616161;
	color: $body;
}

#main {
	left: 250px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	margin: 0 100px 0 0;
	top: 120px;
	bottom: 60px;
	min-height: 520px;
	opacity: 0;
}

header[role="banner"] {
	position: fixed;
	top: 0;
	left: 0;
}


nav {
	width: 162px;
	position: absolute;
    left: 30px;
    top: 120px;	
    z-index: 100;

    .navigation-wrapper {
		border-right: #282828 1px solid;
		border-left: #282828 1px solid;	

		ul{
			background: #141414;
		}

		li {
			background: #202020;
			border-bottom: #282828 1px solid;
			border-top: #282828 1px solid;
			margin-top: 2px;
		}

		li:first-child {
			margin-top: 0px;
		}

		li a {
			color: #f8f8f8;
			text-shadow: 1px 1px #202020;
			font-family: 'Cabin';
			font-style: normal;
			font-weight: 700;
			text-decoration: none;
			font-size: 14px;
			height: 35px;
			line-height: 35px;
			display: block;
			padding-left: 26px;
			text-transform: uppercase;
			border-right: #202020 0px solid;

			transition: border-right .25s ease-in-out;
		   -moz-transition: border-right .25s ease-in-out;
		   -webkit-transition: border-right .25s ease-in-out;
		}

		li a:hover {
			border-right: #16a95b 10px solid;
		}

    }

    .social-media-navigation {
    	list-style: none;
    	margin-left: -2px;


    	li {
    		float : left;
    		padding: 4px 4px 4px 0;
    	}

    }
}

footer[role="contentinfo"] {
	position: fixed;
	bottom: 15px;
	right: 15px;
	height: 28px;
	background-color: rgba(32, 32, 32, 0.5);
	color: #fff;
	text-shadow: 1px 1px #202020;
	font-family: 'Abel';
	font-style: normal;
	font-size: 10px;
	line-height: 28px;
	padding: 0 13px;
}

.grid {
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
	padding: 20px 0 20px 20px;
}

.grid article{
	float: left;
	width: 500px;
	margin: 0 20px 20px 0;
}

@-webkit-keyframes fadein {
      0% { opacity: 1; }
      99% { opacity: 0; height: 100%;}
      100% { opacity: 0; height: 0;}
}
@-ms-keyframes fadein {
      0% { opacity: 1; }
      99% { opacity: 0; height: 100%;}
      100% { opacity: 0; height: 0;}
}
@-moz-keyframes fadein {
      0% { opacity: 1; }
      99% { opacity: 0; height: 100%;}
      100% { opacity: 0; height: 0;}
}
@-o-keyframes fadein {
      0% { opacity: 1; }
      99% { opacity: 0; height: 100%;}
      100% { opacity: 0; height: 0;}
}
@keyframes fadein {
      0% { opacity: 1; }
      99% { opacity: 0; height: 100%;}
      100% { opacity: 0; height: 0;}
}

#main.fadein {
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in; 
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    opacity: 1;
}

.background {
	display: block; 
	top: 0px; 
	left: 0px; 
	width: 150%; 
	height: 150%; 
	z-index: 0; 
	position: fixed; 	
}

.background-image {
	background-image: image-url('Back2.png'); background-repeat: repeat repeat; 
}
.raster {
	background-image: image-url('Raster.png'); background-repeat: repeat repeat; 
}

.embed-video-extra-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
}
.embed-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.videos-back-button {
	position: fixed;
	z-index: 1000;
	top: 20px;
	left: 20px;
	width: 100px;
	opacity: 0.5;
}

body .introduction .videos-back-button:hover{
	opacity: 1;
	border-right: solid 1px #0B7F41;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}