<div class="navigation-wrapper">
	<ul class="main-navigation">
	  <li><a href="{{ root_url }}/">Blog</a></li>
	  <li><a href="{{ root_url }}/blog/videos">Movies</a></li>
	  <li><a href="{{ root_url }}/blog/ondernemers">Ondernemers</a></li>
	  <li><a href="{{ root_url }}/info">Info</a></li>
	  <li><a href="{{ root_url }}/contact">Contact</a></li>
	</ul>
{% include custom/navigation.html %}
</div>
<ul class="social-media-navigation">
	<li><a href="http://facebook.com/workingthedream" ><img src="{{ root_url }}/images/facebookicon.png" class="tooltip-container" title="Facebook pagina" data-placement="bottom" /></a></li>
	<li><a href="http://vimeo.com/channels/workingthedream"><img src="{{ root_url }}/images/vimeoicon.png" class="tooltip-container" title="Vimeo channel" data-placement="bottom" /></a></li>
</ul>

