.grid .entrepreneur {
	float: left;
	width: 300px;
	margin: 0 20px 20px 0;
	height: 100%;
	position: relative;

	a {
		color: $h1;	
		@include transition(color);
		&:hover {
			color: $h1Hover;
		}
	}

	.entrepreneur-background{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.entrepreneur-content{
		bottom: 0;
		left:0;
		right: 0;
		position: absolute;
		background: #ebebeb;
	}
	.clear {
		clear: both;
	}
	.contact-title {
		margin-left: 10px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.vote-button {
		display: block;
		color: #f8f8f8;
		text-shadow: 1px 1px #000;
		font-family: 'Cabin';
		font-style: normal;
		font-weight: 700;
		text-decoration: none;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		display: block;
		text-transform: uppercase;
		border: #515151 1px solid;
		background: #202020;
		text-align: center;
		margin: 5px;

		transition: all .25s ease-in-out;
	    -moz-transition: all .25s ease-in-out;
	    -webkit-transition: all .25s ease-in-out;
	}

	.vote-button.success {
		border-color: #0B7F41;
		background: #16A95B;
	}

	.vote-button.error {
		border-color: #5c150e;
		background: #A92316;
	}

	.vote-button:hover {
		border-width: 1px 10px 1px 0px;
		color: #fff;
	}

	address {
		display: block;
		font-size: 10px;
		padding: 2px 10px 10px;
		line-height: 13px;
		.line {
			display: block;
			clear: both;
			span, a {
				float: left;
			}
			span {
				width: 30%;
			}
			a {
				width: 70%
			}
		}

	}
}